@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial;
  background-color: #f5f5f7;
  color: #1d1d1f;
}
